/* PANTALLAS GRANDES */
@media screen and (max-width: 1408px) {
    .container {
        margin-left: var(--mb-2-5);
        margin-right: var(--mb-2-5);
    }
}

@media screen and (max-width: 1216px) {
    .about__container {
        column-gap: 2.5rem;
    }

    .about__description {
        padding-right: 0;
    }

    .work__container {
        grid-template-columns: repeat(2, 330px);
        gap: 2.5rem;
      }
}

@media screen and (max-width: 1024px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .sidebar {
        width: 100%;
        z-index: 999;
        transform: translateX(-100%);
    }
    
    .show-sidebar {
        transform: translateX(0);
    }

    .nav__logo,
    .btn__share {
        display: none;
    }

    .nav__menu {
        height: 100%;
        width: 100%;
        transform: rotate(0deg) translateX(0);
        display: flex;
        justify-content: center;
    }

    .nav__list {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav__link {
        padding: 1rem 0;
        line-height: 1.5;
    }

    .nav__link.active-link::after,
    .nav__link:hover::after {
        bottom: 0;
    }

    .nav__close {
        display: block;
    }

    .nav__toggle {
        display: flex;
    }

    .main {
        margin-left: 0;
    }

    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 350px;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    .about__box {
        padding: .75rem .5rem;
    }

    .about__description {
        padding: 0 4rem;
        text-align: center;
    }

    .qualification__container {
        grid-template-columns: repeat(2, 290px);
    }

    .skills__container {
        grid-template-columns: 340px 300px;
    }

    .skills__list {
        row-gap: 1.7rem;
    }

    .work__card {
        padding: 1rem;
    }
    
    .work__img {
        margin-bottom: var(--mb-0-75);
    }
    
    .work__title {
        margin-bottom: var(--mb-0-25);
    }
    
    .services__container {
        grid-template-columns: repeat(3, 220px);
    }
    
    .portfolio__item-details {
        margin-bottom: 1.5rem;
    }
    
    .details__info li {
        margin-bottom: 0.5rem;
    }
    
    .details__title {
        margin-bottom: 0.75rem;
    }

    .testimonial__card {
        padding: 1.25rem 1.5rem;
    }
}

/* PANTALLAS MEDIANAS */
@media screen and (max-width: 768px) {
    .about__img {
        width: 250px;
    }

    .qualification__container {
        grid-template-columns: 290px;
        row-gap: 3rem;
    }

    .skills__container {
        grid-template-columns: 300px;
        row-gap: 3rem;
    }

    .work__container {
        grid-template-columns: 330px;
    }
    
    .services__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    
    .services__content {
        padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    }
    
    .services__icon {
        font-size: 1.5rem;
    }
    
    .portfolio__popup-inner {
        width: 420px;
        padding: 2.8rem 1.5rem 2.5rem;
    }
    
    .portfolio__popup-content {
        grid-template-columns: 1fr;
        row-gap: 1.6rem;
    }
    
    .details__title {
        font-size: 1rem;
    }
    
    .portfolio__popup-close {
        top: 0.5rem;
    }

    .contact__container {
        grid-template-columns: 360px;
        row-gap: 3rem;
    }
    
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }

    .footer__socials {
        justify-self: start;
    }

    .footer__links {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .footer__bg {
        padding: 2rem 0 3rem;
    }

    .footer__copy {
        margin-top: var(--mb-3);
    }
}

@media screen and (max-width: 576px) {
    .nav__toggle {
        right: initial;
        left: 1.5rem;
    }

    .home {
        background-image: none;
        height: initial;
        align-items: initial;
        padding: 7rem 0 2rem;
    }

    .home__container {
        row-gap: 2rem;
    }

    .home__img {
        display: block;
        width: 250px;
        justify-self: center;
    }

    .home__social {
        left: initial;
        right: -1rem;
        flex-direction: column;
        row-gap: 3.5rem;
    }

    .home__social-follow {
        font-size: var(--smaller-font-size);
        transform: rotate(90deg);
    }

    .home__social-links {
        flex-direction: column;
        row-gap: .25rem;
    }

    .home__social-link {
        font-size: var(--normal-font-size);
    }

    .my__info {
        display: none;
    }

    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }

    .services__modal-content {
        padding: 4.5rem 1.5rem 2.5rem;
    }
    
    .services__modal-description {
        padding: 0;
    }
    
    .contact__container,
    .work__container {
        grid-template-columns: 300px;
    }

    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__links {
        justify-self: flex-start;
    }
}

/* PANTALLAS CHICAS */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home__img {
        width: 200px;
    }

    .home__title {
        font-size: var(--h1-font-size);
    }

    .home__subtitle {
        font-size: var(--normal-font-size);
    }

    .about__info {
        grid-template-columns: repeat(2, 1fr);
        row-gap: .5rem;
    }

    .contact__container,
    .work__container,
    .skills__container,
    .qualification__container {
        grid-template-columns: 1fr;
    }

    .skills__title {
        font-size: var(--normal-font-size);
    }
    
    .work__item {
        font-size: 0.875rem;
    }
    
    .work__filters {
        column-gap: 0.25rem;
    }
    
    .services__container {
        grid-template-columns: max-content;
    }
    
    .services__content {
        padding-right: 3.5rem;
    }
}
