/*=============== ANIMACION EN SCROLL ===============*/
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all .5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/*=============== SCROLL UP ===============*/
.scroll-up-btn {
    position: fixed;
    font-size: var(--biggest-font-size);
    bottom: 20px;
    right: 30px;
    z-index: 99;
    color: var(--skin-color);
    cursor: pointer;
  }

/*=============== SCROLL BAR ===============*/
/* Para colorear la Scroll bar*/
::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}