/*===== SOBRE MI =====*/
.about__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
}

.about__img {
    width: 480px;
    border-radius: 0.75rem;
    justify-self: center;
}

.about__heading {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
}

.about__description {
    text-align: justify;
    padding-right: 6rem;
    margin-bottom: var(--mb-2);
}

.about__info {
    grid-template-columns: repeat(3, 140px);
    column-gap: .5rem;
    margin-bottom: var(--mb-3);
}

.about__box {
    text-align: center;
    border-radius: .25rem;
    padding: 1rem 1.25rem;
    background-color: var(--box-color);
}

.about__icon {
    font-size: 1.5rem;
    color: var(--skin-color);
    margin-bottom: var(--mb-0-75);
}

.about__title {
    font-size: var(--small-font-size);
}

.about__subtitle {
    font-size: var(--smaller-font-size);
}
/*===== Qualification Section =====*/
.qualification__container {
    grid-template-columns: repeat(2, 340px);
    column-gap: 3rem;
    justify-content: center;
}

.qualification__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2);
}

.timeline__item {
    position: relative;
    padding-left: 3rem;
    margin-bottom: var(--mb-2-5);
}

.timeline__item:last-child {
    margin-bottom: 0;
}

.timeline__item::before {
    content: '';
    width: 1px;
    position: absolute;
    left: .48rem;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);
}

.circle__dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    background-color: var(--skin-color);
    transition: .3s;
}

.timeline__item:hover .circle__dot {
    background-color: var(--body-color);
}

.timeline__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.timeline__text {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1);
}

.timeline__date {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--small-font-size);
    color: var(--skin-color);
}

/*===== Skills Section =====*/
.skills__container {
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;

}

.skills__header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.skills__header:not(:last-child) {
    margin-bottom: var(--mb-2-5);
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color: var(--skin-color);
}

.skills__icon {
    margin-right: var(--mb-0-75);
}

.skills__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.skills__subtitle {
    font-size: var(--small-font-size);
}

.skills__arrow {
    margin-left: auto;
}

.skills__active .skills__arrow {
    transform: rotate(-90deg);
    transition: .3seg;
}

.skills [data-content] {
    display: none;
}

.skills__active[data-content] {
    display: block;
}

.skills__list {
    row-gap: 1.8rem;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills__bar {
    background-color: var(--box-color);
}

.skills__percentage {
    display: block;
    background-color: var(--skin-color);
}